<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Riot Control</title>
</head>
<body>
  <script src="http://riotcontrol/Static/Script/RiotControl.js" id="mainScript"></script>
  <script>
    if(typeof initialise != 'undefined')
        initialise($REGIONS, $PRIVILEGED, $REVISION);
    else
        alert('Unable to contact the main server.');
  </script>
</body>
</html>
