*
{
    font-family: "Palatino Linotype", serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

body
{
    text-align: center;
    color: black;
    background: white;
}

p
{
    margin-bottom: 0.5em;
}

table
{
    border-collapse: collapse;
    background-color: #f8f8f8;
}

th
{
    background-color: white;
    padding: 0 1em 0 1em;
}

td
{
    border: 1px solid #d8d8d8;
    vertical-align: top;
    padding: 0 0.8em 0 0.8em;
}

a
{
    color: #008aff;
    text-decoration: none;
    background: none;
}

a:visited
{
    color: #0078de;
}

a:active
{
    color: #30a0ff;
}

a:hover
{
    cursor: pointer;
    color: #ffa200;
}

input.text
{
    border: 1px solid #4d90fe;
    width: 15em;
}

input.text[disabled]
{
    background-color: #d0d0d0;
}

input.submit
{
    color: #666666;
    border: 1px solid #d8d8d8;
    background-color: #f4f4f4;
}

input.submit[disabled]
{
    background-color: #d0d0d0;
}

select
{
    border: 1px solid #d8d8d8;
}

span.positive
{
    color: green;
}

span.negative
{
    color: red;
}

span.error
{
    color: red;
}

span.blue
{
    color: #0013cd;
}

span.purple
{
    color: #a853de;
}

caption.profile, #summonerGamesContainer caption
{
    font-size: large;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1em;
    margin-left: 5em;
}

caption.runePage
{
    font-size: large;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: -2em;
}

table.summonerOverview
{
    float: left;
    margin-left: 2em;
}

table.statistics
{
    margin-top: 2em;
    width: 100%;
}

table.statistics td
{
    vertical-align: middle;
}

table.statistics td img
{
    margin: 2px 5px 2px 0;
    vertical-align: middle;
}

table.statistics td.items img
{
    margin: 0;
    float: left;
}

table.statistics td.items
{
    width: 200px;
}

table.runePage
{
    margin-left: 3em;
    margin-bottom: 1em;
}

table.runePage td
{
    vertical-align: middle;
}

tr.win td
{
    background-color: #c3ffbe;
}

tr.loss td
{
    background-color: #ffc5c5;
}

tr.allChampions td
{
    background-color: #efefef;
}

td.runeName
{
    width: 20em;
}

td.runeName img
{
    margin-right: 4px;
    vertical-align: middle;
}

td.runeDescription
{
    width: 25em;
}

td.runeCount
{
    text-align: right;
    width: 4em;
}

td.emptyRunePage
{
    text-align: center;
    padding: 3em 0 3em 0;
    width: 49em;
}

td.timeCreated
{
    padding-top: 0.5em;
    color: #a0a0a0;
    text-align: right;
    background-color: white;
    border: none;
}

#logo
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: block;
}

#content
{
    width: 1088px;
    text-align: left;
    display: inline-block;
    border: 1px solid black;
    border-top: 0;
    padding: 20px;
    margin-bottom: 4em;
}

#indexForm
{
    text-align: center;
}

#summonerName
{
    margin-right: 0.5em;
}

#region
{
    margin-right: 0.5em;
}

#profileIcon
{
    float: left;
    border: 1px solid black;
}

#summonerHeader
{
    height: 190px;
}

#summonerDescription p
{
    font-weight: bold;
    font-size: x-large;
}

#ratingTable
{
    width: 100%;
}

#searchForm
{
    text-align: right;
    margin-bottom: 1.5em;
}

#summonerGames td
{
    border: 1px solid black;
}

#summonerGames
{
    text-align: left;
    width: 100%;
}

#summonerGamesContainer
{
    margin: 2em;
    min-width: 122em;
}

#returnFromMatchHistory
{
    margin: 1em 0 0 2em;
    text-align: left;
}

#returnFromRunes
{
    margin: 0 0 1em 2em;
}

#runePageLinks
{
    border: 1px solid #d8d8d8;
    margin-left: 1em;
    margin-bottom: 3em;
    padding: 0.5em 1em 0.5em 0em;
    display: inline-block;
}

#runePageLinks ol
{
    margin-left: 2.5em;
}

#currentRunePageLink
{
    font-weight: bold;
}

#runePageHeader
{
    font-size: 1.6em;
    margin-bottom: 0.5em;
}