*
{
    font-family: "Palatino Linotype", serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

body
{
    text-align: center;
    color: black;
    background: white;
}

p
{
    margin-bottom: 0.5em;
}

caption
{
    font-size: large;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1em;
    margin-left: 5em;
}

table
{
    border-collapse: collapse;
    background-color: #f8f8f8;
}

th
{
    background-color: white;
    padding: 0 1em 0 1em;
}

td
{
    border: 1px solid #d8d8d8;
    vertical-align: top;
    padding: 0 0.8em 0 0.8em;
}

a
{
    color: #008aff;
    text-decoration: none;
    background: none;
}

a:visited
{
    color: #0078de;
}

a:active
{
    color: #30a0ff;
}

a:hover
{
    color: #ffa200;
}

input.text
{
    border: 1px solid #4d90fe;
    width: 15em;
}

input.submit
{
    color: #666666;
    border: 1px solid #d8d8d8;
    background-color: #f4f4f4;
}

select
{
    border: 1px solid #d8d8d8;
}

table.summonerOverview
{
    float: left;
    margin-left: 2em;
}

span.positive
{
    color: green;
}

span.negative
{
    color: red;
}

table.statistics
{
    margin-top: 2em;
    width: 100%;
}

table.statistics td
{
    vertical-align: middle;
}

table.statistics td img
{
    margin: 2px 5px 2px 0;
    vertical-align: middle;
}

tr.win td
{
    background-color: #c3ffbe;
}

tr.loss td
{
    background-color: #ffc5c5;
}

table.statistics td.items img
{
    margin: 0;
    float: left;
}

table.statistics td.items
{
    width: 200px;
}

#logo
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: block;
}

#content
{
    width: 1088px;
    text-align: left;
    display: inline-block;
    border: 1px solid black;
    border-top: 0;
    padding: 20px;
    margin-bottom: 4em;
}

#indexForm
{
    text-align: center;
}

#summonerName
{
    margin-right: 0.5em;
}

#region
{
    margin-right: 0.5em;
}

#profileIcon
{
    float: left;
    border: 1px solid black;
}

#summonerHeader
{
    height: 190px;
}

#summonerDescription p
{
    font-weight: bold;
    font-size: x-large;
}

#ratingTable
{
    width: 100%;
}

#searchForm
{
    text-align: right;
    margin-bottom: 1.5em;
}

#summonerGames td
{
    border: 1px solid black;
}

#summonerGames
{
    text-align: left;
    margin: 2em;
    width: auto;
    min-width: 122em;
}