*
{
    font-family: "Book Antiqua", serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

body
{
    text-align: center;
    color: black;
    background: white;
}

p
{
    margin-bottom: 0.5em;
}

table
{
    border-collapse: collapse;
    background-color: #f8f8f8;
}

th
{
    border: 1px solid #d8d8d8;
    background-color: #e0e0e0;
    padding: 0 1em 0 1em;
}

td
{
    border: 1px solid #d8d8d8;
    vertical-align: top;
    padding: 0 1em 0 1em;
}

a
{
    color: #008aff;
    text-decoration: none;
    background: none;
}

a:visited
{
    color: #0078de;
}

a:active
{
    color: #30a0ff;
}

a:hover
{
    color: #ffa200;
}

input.text
{
    border: 1px solid #4d90fe;
    padding: 0.1em 0.4em 0.2em 0.4em;
    width: 15em;
    margin-right: 0.5em;
}

input.submit
{
    color: #666666;
    border: 1px solid #d8d8d8;
    background-color: #f4f4f4;
    padding: 0.1em 0.4em 0.2em 0.4em;
}

#logo
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: block;
}

#content
{
    width: 1088px;
    text-align: left;
    display: inline-block;
    border: 1px solid black;
    border-top: 0;
    padding: 20px;
}

#indexForm
{
    text-align: center;
}

#profileIcon
{
    float: left;
    border: 1px solid black;
}

#summonerHeader
{
    margin-bottom: 190px;
}

#summonerDescription p
{
    font-weight: bold;
    font-size: x-large;
}

table.summonerOverview
{
    float: left;
    margin-left: 2em;
}

table.summonerOverview span
{
    font-weight: bold;
}
